@font-face {
    font-family: "Poppins-light";
    src: url("../../fonts/Poppins-Light.ttf");
}
@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-ExtraLight.ttf");
}
.header-left, .header-right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-first, .left-second, .left-third{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:10px;
}
.header-left i{
    font-size: 40px;
    padding-right: 15px;
    color: rgba(255, 255, 255, 0.8);
}
.header-left p, .header-left a{
    font-family: "Poppins";
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.4;
    font-weight: 700;
}
.header-left p{
    font-size: 13px;
}
.header-left a{
    text-decoration: none;
    font-size: 15px;
}
.header-right{
    position: relative;
    right: 40px;
}
.header-right div:not(:nth-child(5)){
    width: 40px;
    height: 40px;
    background-color: #b79806;
    border-radius: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    margin-right: 10px;
    transition: .3s;
}
.header-right i{
    position: absolute;
    top:33%;
    font-size: 15px;
    color:rgba(255, 255, 255, 0.8);
}
.header-right div:not(:nth-child(5)){ 
    position: relative;
    display: flex;
    align-items: center;
    vertical-align: center;
    justify-content: center;
    margin-right: 10px;
    text-decoration: none;
    transition: .3s;
}
.header-right div:nth-child(5){ 
    display: flex;
    align-items:center;
    justify-content: center;
    margin-right: 10px;
    text-decoration: none;
    transition: .3s;
}
.language a{
    font-family: "Poppins";
    color: rgba(255, 255, 255, 0.8);
    font-size:16px;
    margin-left:40px;
    position: relative;
    top: 5px;
}
.language i{
    position: absolute;
    top: 5px;
    right: -15px;
    font-size: 15px;
}
.language{
    position: relative;
}
#language-menu{
    position: absolute;
    display: none;
    background-color: white;
    height: 100px;
    border-radius: 0%;
    width: 100%;
    height: auto;
    padding: 20px 70px 20px 0px;
    top: 30px;
    left: -30px;
    z-index: 20;
}
.language-item{
    margin-bottom: 20px;
    color:black !important;
    margin-left: 0 !important;
    font-family: "Poppins";
    font-weight: 700;
    cursor: pointer;
    transition: .2s !important;
}
.language-item:hover{
    color: #ff7129 !important;
}
.language-item:last-child{
    margin-bottom: 5px;
}
.language-open{
    display: block !important;
}
.header-right a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.header-right div:hover:not(:nth-child(5)){
    background-color: #ff7129;
    cursor:pointer;
}