.product-header h5 {
    text-align: center;
    font-family: cursive;
    font-size: 20px;
    margin-bottom: 8px;
    line-height: 1.5;
    font-weight: 700;
}
.product-header h3, span {
    text-align: center;
    font-family: "Poppins-Boldlight";
    font-size: 28px;
    margin-bottom: 8px;
    line-height: 1.5;
    font-weight: 500;
}
.product-cards{
    margin: 72px 5% 0;
    display: flex;
}
.product-card img{
    width: 100%;
    transition: .3s;
}
.product-card {
    margin-right: 3px;
    transition: .4s;
    overflow: hidden;
    position: relative;
}
.product-card:hover {
    cursor: pointer;
    box-shadow: 0 16px 32px 0
	rgba(7, 28, 31, 0.1);
}
.product-card:hover img{
    transform: scale(1.1);
}
.product-card:hover .product-links{
    opacity: 1;
}
.product-content {
    overflow: hidden;
    padding: 15px 15px;
    box-shadow: 0 0 15px rgb(0 0 0 / 10%);
}
.product-content h3,a{
    color:black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    transition: .4s;
    display: block;
    margin-bottom: 8px;
}
.product-content a:hover{
    color: #ff7129;
}
.price, .price span {
    color: #ff7129;
    font-size: 15px;
    font-weight: 700;
    font-family: "Poppins-Light";
    display: inline-block;
}
.price span {
    font-size: 13px;
    text-decoration: line-through;
    letter-spacing: 0;
}
.rating {
    display: flex;
    width: 75px;
    top: 10px;
}
.rating i{
    color: #ff7129;
    width: 100%;
    font-size: 12px;
}
.rating i:nth-child(5){
    color: #bababa;
}
.product-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.product-card >span{
    position: absolute;
    color: white;
    background-color: #ff7129;
    font-size: 14px;
    font-weight: 700;
    font-family: "Poppins-Light";
    text-transform: capitalize;
    padding: 8px 15px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.product-with-links {
    position: relative;
}
.product-links{
    position: absolute;
    background-color: #cca907;
    padding: 5px 8px;
    margin: 0;
    border-bottom: 1px solid white;
    list-style: none;
    opacity: 0;
    bottom: 0;
    right: 12px;
    transition: .3s;
}
.product-links a{
    color: #323232;
    font-size: 18px;
    text-align: center;
    display: block;
    transition: .3s;
}
.product-links a:not(:last-child){
    border-bottom: 1px solid #eee; 
    line-height: 45px;
    height: 45px;
    width: 35px;
}
.product-links a:hover{
    color:white;
}